{% extends "login_forms.html" %}

{% block content %}

<script
    async src="https://telegram.org/js/telegram-widget.js?21"
    data-telegram-login="{{bot_username}}"
    data-size="large"
    data-auth-url="{{auth_url}}"
    data-request-access="write"
></script>

<!-- <form action="/login/username">
    <label for="username">Введите свой username в telegram без @:</label><br>
    <input type="text" id="username" name="username" required autofocus><br>
    <input type="submit" value="Отправить">
</form>  -->

{% endblock %}