# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
core/bin/

# codegen
core/internal/generated/

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# database backup
core/db/

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# environment
.env
.env.test
/bff/private_keys/*.json

# Editor/IDE
.direnv
 .idea/
 .vscode/
/.idea

# Python
__pycache__/

# Core
/bff/core_client/

# UV
bff/uv.lock
