# Binaries for programs and plugins
*.so
*.dylib
__pycache__/
core/bin/

# codegen
core/internal/generated/
/bff/core_client/


# Tests
*.test
*.out
coverage.*
*.coverprofile
profile.cov
.pytest_cache/

# database backup
core/db/
bff/mongodb/

# Go workspace file
go.work
go.work.sum

# environments
bff/.venv/
.env
.env.test
/bff/private_keys/*.json

# Editor/IDE
.idea/
.vscode/

# UV
bff/uv.lock
.python-version

# mypy
.mypy_cache/

# ruff
.ruff_cache/
