# binaries & compiled
__pycache__/
core/bin/

# codegen
core/internal/generated/
/bff/lkshmatch/core_client/

# tests
*.test
*.out
coverage.*
*.coverprofile
bff/.pytest_cache/

# database backup
core/db/
bff/mongodb*/

# go workspace file
go.work
go.work.sum
go.sum

# uv
bff/uv.lock
.python-version

# mypy
.mypy_cache/

# ruff
.ruff_cache/

# environments
.env
.env.test
bff/.venv/
/bff/private_keys/*.json

# Editor/IDE
.idea/
.vscode/
