{% extends "basic_interface.html" %}

{% block title %}
Регистрация на секции через google-таблицы
{% endblock %}

{% block content %}

<h2>Регистрация на секции через google-таблицы</h2>
<p>
    {{ error }}
</p>
<ul>
    <li>Создайте google-таблицу</li>
    <li>В настройках доступа добавьте {{ service_account_name }}</li>
    <li>Заполните таблицу: в первом столбце должны быть username-ы учеников </li>
</ul>
<form method="post">
  <label for="table_url">Ссылка на таблицу</label><br>
  <input type="text" id="table_url" name="table_url"><br>
  <label for="activity_id">Название секции</label><br>
  <input type="number" id="activity_id" name="activity_id"><br>
  <input type="submit" value="Отправить">
</form> 
<a href="/">Main page</a>

{% endblock %}