<div class="support-container">
  <div class="image-wrapper">
    @if (isImageLoading) {
	  <div class="loader-container">
      	<app-loader 
      	  size="medium"
      	  [showPulse]="true"
      	></app-loader>
	  </div>
    }
    
    <img 
      class="support-pic"
      [style.display]="isImageLoading ? 'none' : 'block'"
      src="/support2.jpg"
      alt="Support"
      (load)="isImageLoading = false"
      (error)="isImageLoading = false; imageError = true"
    />
    
    @if (imageError) {
      <div class="error-message">
        Failed to load image
      </div>
    }
  </div>

  <h3 class="h3-text">Вы можете написать нам на почту</h3>
  <button id="copy-button" (click)="onCopyMailButtonClick()">{{ mail }}</button>
  <h3 class="h3-text">Или перейти в раздел часто задаваемых вопросов</h3>
  <a class="btn" href="faq">Раздел FAQ</a>
  

</div>
